.container {
  padding: 0 2rem;
  max-width: 600px;
  max-height: 100vh;
  margin: 0 auto;
}

.countSpace {
  display: flex;
  width: 20%;
  margin: 0 auto;
  flex-flow: column;
  align-items: center;
}